<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('闹钟信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>卡片ID：</label>
                                <input type="text" name="terminalId"/>
                            </li>

                            <li>
                                <label>卡片名称：</label>
                                <input type="text" name="terminalName"/>
                            </li>

                            <li>
                                闹钟周期：
                                <select name="terminalAlarmCycleDay" >
                                    <option value="">所有</option>
                                    <option value="0">周日</option>
                                    <option value="1">周一</option>
                                    <option value="2">周二</option>
                                    <option value="3">周三</option>
                                    <option value="4">周四</option>
                                    <option value="5">周五</option>
                                    <option value="6">周六</option>
                                </select>
                            </li>

                            <li>
                                <label>闹钟提醒时间点：</label>
                                <input type="text" name="terminalAlarmPoint"/>
                            </li>
                            <li>
                                类型：
                                <select name="terminalAlarmType" >
                                    <option value="">所有</option>
                                    <option value="1">整点报时</option>
                                    <option value="0">闹钟</option>
                                </select>
                            </li>


                            <li>
                                状态：
                                <select name="enableFlag" >
                                    <option value="">所有</option>
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="terminal:alarm:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="terminal:alarm:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="terminal:alarm:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="terminal:alarm:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('terminal:alarm:edit')}]];
        var removeFlag = [[${@permission.hasPermi('terminal:alarm:remove')}]];
        var prefix = ctx + "terminal/alarm";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "闹钟设置",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'terminalAlarmId', 
                    title : '主键id',
                    visible: false
                },
                {
                    field : 'terminalId', 
                    title : '卡片主键',
                    align: "center"
                },
                    {
                        field : 'terminalName',
                        title : '卡片名称',
                        align: "center"
                    },
                    {
                        field: 'terminalAlarmCycleDay',
                        title: '闹钟周期',
                        align: "center",
                        formatter: function(value, row, index) {
                            if (row.terminalAlarmCycleDay == 0) {
                                return '周日';
                            }else if(row.terminalAlarmCycleDay == 1) {
                                return '周一';
                            }else if(row.terminalAlarmCycleDay == 2) {
                                return '周二';
                            }else if(row.terminalAlarmCycleDay == 3) {
                                return '周三';
                            }else if(row.terminalAlarmCycleDay == 4) {
                                return '周四';
                            }else if(row.terminalAlarmCycleDay == 5) {
                                return '周五';
                            }else if(row.terminalAlarmCycleDay == 6) {
                                return '周六';
                            }else{
                                return '-';
                            }
                        }
                    },
                {
                    field : 'terminalAlarmPoint', 
                    title : '提醒时间点'
                },
                    {
                        field: 'terminalAlarmType',
                        title: '类型',
                        align: "center",
                        formatter: function(value, row, index) {
                            if (row.terminalAlarmType == 0) {
                                return '闹钟';
                            }else if(row.terminalAlarmType == 1) {
                                return '整点报时';
                            }else{
                                return '-';
                            }
                        }
                    },
                    {
                        field: 'enableFlag',
                        title: '启用禁用',
                        align: "center",
                        formatter: function(value, row, index) {
                            if (row.enableFlag == 0) {
                                return '禁用';
                            }else if(row.enableFlag == 1) {
                                return '启用';
                            }else{
                                return '-';
                            }
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.terminalAlarmId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.terminalAlarmId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>