<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改定位卡字典')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dict-edit" th:object="${tTerminalDict}">
            <input name="terminalDictCode" th:field="*{terminalDictCode}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端字典名称：</label>
                <div class="col-sm-8">
                    <input name="terminalDictName" th:field="*{terminalDictName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端字典备注信息：</label>
                <div class="col-sm-8">
                    <input name="terminalDictMemo" th:field="*{terminalDictMemo}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">终端类型：:</label>
                <div class="col-sm-8">
                    <select name="terminalDictType" class="form-control" th:field="*{enableFlag}">
                        <option value="0">终端设备</option>
                        <option value="1">终端厂商</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">启用禁用：:</label>
                <div class="col-sm-8">
                    <select name="enableFlag" class="form-control" th:field="*{enableFlag}">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "terminal/dict";
        $("#form-dict-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-dict-edit').serialize());
            }
        }
    </script>
</body>
</html>